
* {
    font-family: "Times New Roman", Arial, Helvetica, sans-serif;
}

body {
    background-image: url("./cooking-book-jpg.jpg") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
.heading-container {
    text-align: center;
    margin: 0px auto ;
    border: 1px black dotted;
    padding: 10px;
    background-color:rgba(0, 0, 0, 0.842);
    font-size: 40px;
    font-style: oblique;
    font-variant: small-caps;
    color: rgb(156, 46, 46);
    -webkit-text-stroke: 1px rgb(255, 255, 255);

}
.recipe-list {
    text-align: center;
    padding: auto 20px 20px;

}
.recipe-list a {
    padding: 40px;
    display: inline-block;
    margin: 1px;
}
 a {
    text-decoration: none; 
    list-style: none;
    color: black;
    font-size: 35px;
    font-variant: small-caps;
    border: 5px black solid;
    padding: 10px;
    margin: 10px;
    background-color: brown;
    border-radius: 20px;
    font-weight: bold;


}
a:hover {
    color: rgb(43, 226, 104);
    background-color: antiquewhite;
}
.recipe-list li {
    padding: 20px;
    margin: 20px;
    

}
li:hover {
    color: chocolate;
}

.description-container,
.ingredients-container,
.instructions-container,
.end-quote {
     text-decoration: none; 
    list-style: none;
    color: black;
    font-size: 35px;
    font-variant: small-caps;
    border: 5px black solid;
    padding: 10px;
    margin: 10px auto;
    background-color: brown;
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
    width: 500px;
}
.end-quote {background-color: beige;}
    
ul, 
ol,
p{
text-align: center;
    color: black;
    font-size: 20px;
    font-variant: small-caps;
    border: 5px black solid;
    padding: 30px;
    margin: 10px auto;
    background-color: rgba(211, 161, 87, 0.897);
    border-radius: 20px;
    font-weight: bold;
    width: 900px;
}
.header {
    text-align: center;
    margin: 0px auto ;
    border: 1px black dotted;
    padding: 50px;
    background-color:rgba(0, 0, 0, 0.842);
    font-size: 80px;
    font-style: oblique;
    font-variant: small-caps;
    color: rgb(156, 46, 46);
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}
.food-image {
    margin: 10px auto;
    display: block;
    border: 5px solid black;
    border-radius: 20px;
}

